@model LibraryMVC.Models.UserModel

@{
    ViewBag.Title = "AdminLogin";
}

<h2>Admin Login</h2>

@using (Html.BeginForm("AdminLogin", "Admin", FormMethod.Post))
{
    <fieldset>
        <br />

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.UserName)</td>
                <td>@Html.TextBoxFor(a => a.UserName)</td>
                <td>@Html.ValidationMessageFor(a => a.UserName)</td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(a => a.UserPassword)
                </td>
                <td>
                    @Html.PasswordFor(a => a.UserPassword)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.UserPassword)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}
